div {
    height:300px;
}

.background-color{
    background-color:blue;
}

.background-image{
    background-image:url(images/sky.jpg);
    background-position: center center;
    background-size: contain; /*cover, contain*/
    background-repeat: no-repeat;/*반복 싫을 때*/
    background-attachment: fixed;
}